 /* 背景的模糊遮挡 */
 #backgroud_blur
 {
     position:fixed;
     display:block;
     /* background:hsla(0,0%,100%,0.1); */
     /*background-image: url(../background/jpg001.jpg);*/
     background-position: center;
     background-size: cover;
     transform: scale(1.0);
     height:100%;
     width:100%;
     top:0;
     left:0;
     opacity:0;
     filter:blur(10px);
     transition: 0.3s;
 }
 #search_backgroud
 {
     position:fixed;
     /*background-image: url(../background/jpg001.jpg);*/
     /* background-color:black; */
     background-position: center;
     background-size: cover;
     height:100%;
     width:100%;
     top:0;
     left:0;
     animation-fill-mode: forwards;
     transition: 0.3s;
     animation:search_backgroud 0.7s;
     animation-fill-mode: forwards;
     opacity:0;
 }
 @keyframes search_backgroud
 {
     to{opacity:1;}
 }