/* 我的收藏 */
#Myfavorite
{
    box-sizing: border-box;
    transform: translateX(-50%);
    position:absolute;
    /* background-color:rgb(226, 0, 0); */
    /* opacity:0.7; */
    top:35vh;
    left:50%;
    height:45%;
    max-height: 300px;
    width:600px;
    max-width: 80%;
    transition: 0.3s;
}
/* 我的收藏的总框架 */
#my_favorite_main
{
    box-sizing: border-box;
    transform: translateX(-50%);
    /* transform: translateX(-50%); */
    position:absolute;
    background-color:rgba(99, 96, 96,0.04);
    border-radius: 20px;
    opacity:1;
    top:0px;
    left:50%;
    height:100%;
    max-height: 250px;
    width:600px;
    transition: 0.3s;
}
#my_favorite_main::-webkit-scrollbar
{
    display:none;/*ChromeSafari*/
    /* 不显示拖动条 */
}
/* 单独一个收藏页的大框架 */
.my_favorite
{
    position: position;
    /* background-color: aqua; */
    width: 80px;
    height: 80px;
    margin-left: 34px;
    margin-top: 30px;
    float: left;
}
/* 收藏页的显示方格 */
.my_favorite_box
{
    float: left;
    background-color:rgba(245, 245, 245,1);
    /* transform:translateX(-50%); */
    position:position;
    border-radius: 10px;
    /* height:20%; */
    /* width: 10%; */
    width: 60px;
    opacity:1;
    /* height:6vw; */
    /* margin-left: 34px;
    margin-top: 28px; */
    transition: 0.3s;
    /* max-width: 80%; */
    padding: 40px 10px;
}
.my_favorite_box:hover
{
    /* box-shadow:0 0 0 1px hsla(0,0%,100%,.2) inset,0 .1em 0.3em rgba(0, 0, 0, 0.6); */
    box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .3em 0.5em rgba(0, 0, 0, 0.6);
}
/* 开启删除模式的按钮 */
#my_favorite_delete_botton
{
    position:absolute;
    transform: translateX(-50%);
    border-radius: 30px;
    top:6px;
    left:90%;
    width: 60px;
    height: 6%;
    background-color:rgb(99, 96, 96);
    opacity:0;
    transition: 0.3s;
}
#my_favorite_delete_botton:hover
{
    opacity:0.6;
}
/* 删除模式的文本 */
#my_favorite_delete_botton_text
{
    top:0px;
    left:30px;
    color:whitesmoke;
    transform: translateX(-50%);
    position:absolute;
    font-family:微软雅黑;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    user-select: none;
}
/* 收藏页的网页logo */
.my_favorite_logo
{
    
    user-select: none;
    position: absolute;
    width: 30px;
    height:30px;
    margin-top:-15px;
    transform: translateX(-50%);
    margin-left:5%;
    opacity:0.7;
    /* background-color: aqua; */
}
/* 收藏页的名字 */
.my_favorite_name
{
    font-family:微软雅黑;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    color:whitesmoke;
    user-select: none;
    position: absolute;
    width: 100px;
    margin-top:45px;
    transform: translateX(-50%);
    margin-left:30px;
    opacity:0.9;
}
/* 新增收藏页的窗口 */
#my_favorite_input
{
    position: absolute;
    left:50%;
    display:none;
    background-color: whitesmoke;
    transform: translateX(-50%) rotateY(90deg);
    top:30px;
    border-radius: 15px;
    width: 350px;
    height:200px;
    transition: 0.2s;
    box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .1em 0.3em rgba(0, 0, 0, 0.6);

}
.my_favorite_input_form_text
{
    position: absolute;
    background-color: rgb(194, 192, 192);
    height: 40px;
    width: 250px;
    border-radius: 15px;
    top:18px;
    margin-top:15px;
    left: 40px;
    border:none;
    outline:none;
    transition: 0.3s;
    font-weight: 100;
    opacity:0.5;
    color:rgb(0, 0, 0);
    padding-left:20px;/*placeholder文字距右10px*/
    /* box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .1em 0.0em rgba(0, 0, 0, 0.6); */
}
.my_favorite_input_form_text:hover
{
    background-color: rgb(194, 192, 192);
    opacity:0.8;
}
#my_favorite_input_form_text_2
{
    top:75px;
}

/* #my_favorite_input_form_text_name1
{
    position: absolute;
    box-sizing: border-box;
    top:53px;
    left: 30px;
    border:none;
    outline:none;
    transition: 0.3s;
    opacity:0.5;
    padding-left:20px;
    user-select: none;
    font-family:微软雅黑;
    font-weight: 400;
}
#my_favorite_input_form_text_name2
{
    position: absolute;
    box-sizing: border-box;
    top:113px;
    left: 40px;
    border:none;
    outline:none;
    transition: 0.3s;
    opacity:0.5;
    padding-left:20px;
    user-select: none;
    font-family:微软雅黑;
    font-weight: 400;
} */
.my_favorite_input_select
{
    position: relative;
    background-color: rgb(194, 192, 192,.5);
    width: 70px;
    height: 35px;
    left: 140px;
    top:150px;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    font-family:微软雅黑;
    font-weight: 400;
    transition: 0.3s;
    line-height: 30px;
}
.my_favorite_input_select:hover
{
    background-color: rgb(194, 192, 192,.7);
}
/* .close
{
    position: absolute;
    //transform: translateX(-50%);
    background-color: rgb(190, 38, 38);
    width: 20px;
    height: 20px;
    left:20px;
    top:15px;
    font-size: 0px;
    border-radius: 10px;
    transition: 0.3s;
    opacity:0.7;
    font-family:微软雅黑;
    font-weight: 400;
    user-select: none;
    overflow:hidden;
    text-align: center;
    line-height: 20px;
    box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .1em 0.3em rgba(0, 0, 0, 0.6);
} */
/* .close:hover
{
    font-size: 5px;
    background-color: rgb(219, 33, 33);
    //transform: translateX(-50%) scale(1.1);
    width:60px;
    font-size: 5px;
    opacity:1;
} */
/* .ok
{
    position: absolute;
    transform: translateX(-50%);
    background-color: rgb(42, 117, 187);
    width: 20px;
    height: 20px;
    right:20px;
    top:17px;
    font-size: 0px;
    border-radius: 10px;
    transition: 0.3s;
    opacity:0.7;
    font-family:微软雅黑;
    font-weight: 400;
    user-select: none;
    overflow:hidden;
    text-align: center;
    line-height: 20px;
    box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .1em 0.3em rgba(0, 0, 0, 0.6);
} */
/* .ok:hover
{
    background-color:rgb(81, 151, 216);
    //transform: translateX(-50%) scale(1.1);
    width:60px;
    font-size: 5px;
    opacity:1;
} */
.my_favorite_delete
{
    display: none;
    user-select: none;
    position: absolute;
    margin-top:-10px;
    transform: translateX(-50%);
    margin-left:73px;
    opacity:0.7;
    background-color: rgb(221, 47, 47);
    width: 25px;
    height: 25px;
    border-radius: 15px;
    overflow:hidden;
    text-align: center;
    font-family:微软雅黑;
    font-weight: 400;
    transition: 0.3s;
    box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .1em 0.3em rgba(0, 0, 0, 0.6);

}
.my_favorite_delete:hover
{
    background-color:rgb(221, 47, 47);
    /* transform: translateX(-50%) scale(1.1); */
    opacity:1;
}
#my_favorite_add_circle
 {
     transform: translateX(-50%); 
     position:absolute;
     margin-top: -30px;
     margin-left: 30px;
     height: 60px;
     width:60px;
     border-radius: 50px;
     background-color:rgb(194, 192, 192);
     opacity:0.6;
     transition: 2.5s;
 }
 #my_favorite_add_circle:hover
 {
     opacity: 1;
 }
 #my_favorite_add_x
 {
     transform: translateX(-50%); 
     position:absolute;
     margin-top: -20px;
     margin-left: 30px;
     height:40px;
     width:5px;
     border-radius: 5px;
     background-color:whitesmoke;
 }
 #my_favorite_add_y
 {
     transform: translateX(-50%); 
     position:absolute;
     top: 17px;
     left: 4px;
     height:5px;
     width:40px;
     border-radius: 5px;
     background-color: whitesmoke;
 }
 #box_add
 {
     display:none;
     opacity:0;
     box-shadow:0 0 0 0;
     background-color:rgba(0, 0, 0, 0.3);
     transition: 0.8s;
 }