#search_change_style_return
 {
     display:none;
 }
 #search_div
 {
     box-sizing: border-box;
     transform: translateX(-50%);
     top:20vh;
     left:50%;
     width:250px;
     height: 100px;
     max-width: 80%;
     /* padding: 13px 15px; */
     position: absolute;
     border-radius: 30px;
     background-color:whitesmoke;
     max-height:40px;
     box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .1em 0.3em rgba(0, 0, 0, 0.6);
     transition: 0.3s;
     animation:search_div 0.5s;
     animation-fill-mode: forwards;
     opacity:0.6;
 }
 #search_div:hover
 {
     /* width:300px!important; */
     box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .3em 0.5em rgba(0, 0, 0, 0.6);
 }
 /* 搜索框中隐藏的实际搜索框 */
 #search_input
 {
     /* background-color: turquoise; */
     background-color:transparent;
     width:90%;
     height:90%;
     border:none;
     outline:none;
     position: absolute;
     top:5%;
     left: 5%;
     font-family:"微软雅黑";
     font-size: medium;
 }