@font-face {
	font-family: 'HarmonyOS Sans';src: url('HarmonyOS_Sans_Black.woff2') format('woff2'), url('HarmonyOS_Sans_Black.woff') format('woff');font-weight: 900;font-style: normal;font-display: swap;
}